 *{
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
 }
 a{
  text-decoration: none;
 }
 .container{
  width: 100%;
  height: 100vh;

 }
 .log{
  font-size: 50px;
  font-weight: bold;
  font-family: sans-serif;
  top: 50px;
  position: absolute;
  left: 10%;
   
 }
 .log a{
  color: rgb(24, 22, 22);
 }
 .searchber{
   top: 60px;
   right:90px;
   position: fixed;
   background: #ffffffff;
   box-sizing: border-box;
   box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
   align-items: center; 
   display: flex;
   z-index: 1;
   cursor: pointer; 
   border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;  
   justify-content: center;
   padding: 5px 10px;
   margin: 0 5px;
    
 }
  .searchber input{
    width: 130px;
    height: 30px;  
    outline: none;
    border: none;
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 2px;
      
  }        

   .searchber a{
     font-size: 20px;
     color: rgb(21, 18, 18);
     margin-right: 5px;
   }
   .setion1 img{
    top: 30%;
    left: 10%;
    position: absolute; 
    width: 500px;
    height: 400px;

   }

   .setion2{
    top:  45%;
    right: 10%;
    position: absolute;
   }
  .setion2 h1{
    font-size: 70px;
    font-weight: 500;
    font-family: Roboto;
    letter-spacing: 3px;
  }
    .setion2 span{
          color: #7A72FF;
          font-size: 70px;
          font-weight: 500;
          font-family: Roboto;
    }
    .setion2 .btn{
      font-size: 20px;
      width: 120px;
      height: 40px;
      line-height: center;
      background: black;
      color: #fff;
      font-family: Roboto;
      box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
      border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
      border: none;
      outline: none;

    }
    .setion2 .btn:hover{
      color: #fff;
      background-color: #7A72FF;
      box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.5);
    }
    .iconarea{
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      top: 50%;
      left: 5%;
      background: #ffffffff;
      box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.6);
      box-sizing: border-box;
      z-index: 1;
      cursor: pointer;
      transform: translateY(-50%);
      padding: 20px 10px;
      border-radius: 10px;
    }
   .iconarea a{
     margin: 10px 0;
     font-size: 25px;
   }
  
  .prodectstion{
    background: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px auto;
    padding: 40px 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 85%;
    position: relative;

  }
  .prodectstion h2{
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    font-family: sans-serif;
    color: #323232; 
    margin-top: 60px;
    text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    letter-spacing: 2px;
  }
    .prodectstion span{
      color: #7A72FF;
      font-size: 50px;
    }

 .prodect{
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   margin: 40px 0px;
 }
 .prodectbox{
  width: 250px;
  height: 330px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px 30px;
  border-radius: 10px;
  position: relative;
   
 }
 .prodectbox img{
   height: 180px;
 }
 .prodectbox p{
   color: #4d4d4d;
   font-family: serif;
   font-size: 0.9rem;
   letter-spacing: 0.3;
 }
 .prodectbox a{
   font-size: 1rem;
   font-family: poppins;
   color: #cdcdcd;
 }
 .prodectbox .btn{
   width: 140px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10% 10% 10% 10% / 50% 50% 50% 50%;
   background: linear-gradient(to right, #7A72FF, #41ce6e);
   left: 25%;
   bottom: -35px;
   display: none; 
   position: relative;
   transform: translateX(-50%);
   color: #fff;
   font-family: poppins;
   animation: fade 0.2s;
 }
 .prodectbox:hover .btn{
   display: flex;
 }
 .prodectbox:hover{
   background: #fff;
   box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
 }

 .about{
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px auto;
  padding: 30px; 
 }
 .aboutbox{
  width: 40%;
  font-family: monospace;
 }
 .aboutbox h1{
  font-size: 50px;
  color: #1c1919;
  letter-spacing: 3px;
  font-weight: bold;
 }
 .aboutbox h3{
  font-size: 30px;
  color: #000000;
  letter-spacing: 2px;
  font-weight: 400px;

 }
 .aboutbox span{
  font-size: 30px;
  color: #7A72FF;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500px;
 }
 .aboutbox p{
  font: 20px;
  color: #b8aeae;
 }
 .aboutbox img{
   width: 100%;
   height: 100%;
   object-fit: contain;
   object-position: center;
   
 }

 .contectme{
  width: 40%; 
  margin: 80px auto;
  position: relative;
   
 }
 .contectme h3{
   font-size: 20px;
   font-weight: bold;
   font-family: sans-serif;
   letter-spacing: 2px;
   color: #1c1919;
   text-align: center;
 }
 .contect{
    
   margin: 50px auto;
   background: #ffffffff;
   width: 500px;
   height: 55px;
   border-radius: 5% 5% 5% 5% / 50% 50% 50% 50%;
   box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
   box-sizing: border-box;
   display: flex;
   align-items: center;
   position: relative;
   justify-content: space-between;
   padding: 15px 20px;
 }
 .contect input{
  width: 200px;
  height: 50px;
  outline: none;
  border: none;
  font-size: 20px;
  color: #000000;
 }
  .contect .btn{
     font-size: 20px;
     width: 70px;
     height: 30px;
     border-radius: 20% 20% 20% 20% / 50% 50% 50% 50%;
     background: linear-gradient(150deg, #1d15a9 20%, #c257bd);
     position: relative;
     line-height: 90%;
     padding-left: 10px;
     color: #ffffff;
      
  }
   .contect .btn:hover{
     background: linear-gradient(150deg, #6aaec6 20%, #63c257);
     color: #ffffff;
   }

   .footer{
     width: 100%;
     height: 60px;
     margin: 20px auto;
     background: #000;
     padding: 20px; 
     margin-bottom: 0px;
     text-align: center;
   }
   .footer p{
     color: #ffffff;
     font-size: 15px;
     font-family: 'Poppins', sans-serif;
     line-height: 100%;
   }